* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
}

html {
  background: rgb(24, 29, 36);
  font-family: sans-serif;
  display: flex;
  justify-content: center;

  --primary-text: rgb(210, 210, 210);
  --secondary-text: #565759;
  --hover-color: #3A3B3C;

  --highlight-color: #9861c1;

  --solarized-green: #859900;
  --solarized-yellow: #b58900;
  --solarized-function: #268bd2;
  --solarized-variable: #cb4b16;
  --solarized-string: #2aa198;
  --solarized-comment: #586e75;
}

body {
  padding: 0 1em;
  width: 100%;
  max-width: 1000px;
}

nav {
  padding: 0.5em 0;
  font-size: 2em;
  gap: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
}
header nav > a:visited {
  color: var(--highlight-color);
}
header nav > a {
  color: var(--highlight-color);
}
nav > ul a {
  color: var(--primary-text);
}
nav > ul a:visited {
  color: var(--primary-text);
}
nav > ul a:hover {
  text-decoration: underline;
}

header h1 a:visited {
  color: white;
}

a {
  color: var(--highlight-color);
}

a:visited {
  color: var(--highlight-color);
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  list-style: none;
}

main {
  height: auto;
  padding-bottom: 1em;

  line-height: 1.5em;
  font-size: 18px;
}

article {
  margin-top: 2em;
}

.authors a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

dialog {
  background: rgb(24, 29, 36);
  max-width: 900px;
  padding: 1em;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

dialog > p {
  font-family: monospace;
  white-space: pre-line;
  font-size: 0.8em;
  line-height: 1.1em;
  width: calc(min(100vw, 900px) - 50px - 2.5em);
  height: 100%;
}

dialog > div {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

dialog button {
  font-size: 1.5em;
  color: rgb(24, 29, 36);
  padding: 0.1em;
};

h1, h2, h3, h4, h5, h6 {
  color: white;
}

h1 {
  margin: 0.1em 0 0.4em 0;
}

h1 a {
  color: white;
  text-decoration: none;
}

h2 {
  margin: 1em 0 0.4em 0;
  font-size: 1.4em;
}

article > header {
  display: flex;
  flex-direction: column;
}

article > header > div {
  order: -2;
  display: flex;
  gap: 1em;
}

article > header time {
  color: var(--secondary-text);
}

article > header + a {
  font-size: 0.8em;
}

article > header .openAccess {
  font-variant: small-caps;
  color: rgb(185, 87, 9);
}

article > header ul {
  list-style: none;
  display: flex;
  gap: 0.3em;
  font-size: 0.8em;
  margin-left: 0;
  margin-right: 0;

  color: var(--secondary-text);
}

.tag {
  border: 0.05em solid var(--secondary-text);
  border-radius: 0.2em;
  padding: 0 0.2em;
}

article ul {
  margin-left: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

p code, li code {
  background: var(--hover-color);
  padding: 0.1em;
  border-radius: 0.2em;
}

pre {
  margin: 1em 0.5em;
  padding: 0.8em 0.4em;
  line-height: 1.2em;
  background: rgb(0, 43, 54);
  overflow-x: scroll;
  color: var(--solarized-function);
}

.kw, .cf, .op {
  color: var(--solarized-green);
}
.fu {
  color: var(--solarized-variable);
}
.st {
  color: var(--solarized-string);
}
.dt {
  color: var(--solarized-yellow);
}
.co {
  color: var(--solarized-comment);
}

p + p {
  margin-top: 0.8em;
}

footer {
  display: flex;
  width: 100%;
  padding: 0.8em;
  border-radius: 5px;
  flex-direction: column;
  background: #25003e;
  margin-bottom: 2em;
  line-height: 1.5em;
}

@media print {
  body > header {
    display: none;
  }
}

@media (max-width: 570px) {
  nav {
    flex-direction: column;
    gap: 0.5em;
  }

  nav > a {
    text-align: center;
  }

  nav > ul {
    gap: 0.5em;
    font-size: 0.9em;
  }

  main {
    margin-top: 0.3em;
  }
}
