* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
}

html {
  background: rgb(24, 29, 36);
  font-family: sans-serif;
  display: flex;
  justify-content: center;

  --primary-text: rgb(210, 210, 210);
  --secondary-text: #565759;
  --hover-color: #3A3B3C;

  --highlight-color: #9861c1;

  --solarized-green: #859900;
  --solarized-function: #268bd2;
  --solarized-variable: #cb4b16;
  --solarized-string: #2aa198;
}

body {
  padding: 0 1em;
  width: 100%;
  max-width: 1000px;
}

nav {
  padding: 0.5em 0;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
}
header nav > a:visited {
  color: var(--highlight-color);
}
header nav > a {
  color: var(--highlight-color);
}
nav > ul a {
  color: var(--primary-text);
}
nav > ul a:visited {
  color: var(--primary-text);
}
nav > ul a:hover {
  text-decoration: underline;
}

header a:visited {
  color: white;
}

a {
  color: var(--solarized-green);
}

a:visited {
  color: var(--highlight-color);
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  list-style: none;
}

main {
  height: auto;
  padding-bottom: 1em;

  line-height: 1.4em;
  font-size: 18px;
}

article {
  margin-top: 2em;
}

article > header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

h1 {
  margin: 0.1em 0 0.4em 0;
}

h1 a {
  color: white;
  text-decoration: none;
}

h2 {
  margin: 1em 0 0.4em 0;
  font-size: 1.4em;
}

article > header time {
  order: -1;
  color: var(--secondary-text);
}

article > header ul {
  list-style: none;
  display: flex;
  gap: 0.3em;
  font-size: 0.8em;

  color: var(--secondary-text);
}

.tag {
  border: 0.05em solid white;
  border-radius: 0.2em;
  padding: 0 0.2em;
}

p code {
  background: var(--hover-color);
  padding: 0.1em;
  border-radius: 0.2em;
}

pre {
  margin: 0.5em;
  padding: 0.2em;
  background: rgb(0, 43, 54);
  overflow-x: scroll;
  color: var(--solarized-function);
}

.kw, .cf {
  color: var(--solarized-green);
}
.fu {
  color: var(--solarized-variable);
}
.st {
  color: var(--solarized-string);
}

p + p {
  margin-top: 0.8em;
}

@media print {
  body > header {
    display: none;
  }
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
    gap: 0.5em;
  }

  nav > a {
    text-align: center;
  }

  nav > ul {
    gap: 0.5em;
    font-size: 0.9em;
  }

  main {
    margin-top: 0.3em;
  }
}


