<header>
  <h1><a href="{{prefix}}/{{url}}">{{title}}</a></h1>
  <div>
    <time datetime="{{date}}">{{readableDate}}</time>
    {{#conference}}<a href="{{prefix}}/conferences/{{conference}}" class="conference">{{conference}} {{year}}</a>{{/conference}}
    {{#openAccess}}<span class="openAccess">[Open Access]</span>{{/openAccess}}
  </div>
  {{^conference}}
  <ul>
    {{#tags}}
    <li class="tag"><a href="{{prefix}}/tags/{{.}}">{{.}}</a></li>
    {{/tags}}
  </ul>
  {{/conference}}
</header>

