<header>
  <h1>
    {{#doi}}
    <a target="_blank" href="{{doi}}">{{title}}</a>
    {{/doi}}
    {{^doi}}
    <a href="{{prefix}}/{{url}}">{{title}}</a>
    {{/doi}}
  </h1>
  <div>
    <time datetime="{{date}}">{{readableDate}}</time>
    {{#conference}}<a href="{{prefix}}/conferences/{{conference}}" class="conference">{{conference}} {{year}}</a>{{/conference}}
    {{#openAccess}}<span class="openAccess">[Open Access]</span>{{/openAccess}}
    {{#toAppear}}<span class="openAccess">[To Appear]</span>{{/toAppear}}
  </div>
  {{^conference}}
  <ul>
    {{#tags}}
    <li class="tag"><a href="{{prefix}}/tags/{{.}}">{{.}}</a></li>
    {{/tags}}
  </ul>
  {{/conference}}
</header>

